<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>
    <mat-drawer-container class="sidenav-outer" autosize>
      <mat-drawer mode="over" [opened]="getToggleService.isExpanded" class="sidenav">
          <button mat-button class="center-button">Games</button>
          <button mat-button class="center-button">Profile</button>
      </mat-drawer>
      <mat-drawer-content>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </body>
</html>